.contact{
  position: relative;
  background-color: #ad8753;

}

.contact img{
  object-fit: cover;
    width: 100%;
    height: 100vh;
}
.contact_us{
    position: absolute;
  display: flex;
 justify-content: space-evenly;
  text-align: center;
  flex-direction: column;
  height: 80%;
    top: 6%;
    left: 10%;
    color: white;
  background-color: black;
    border-radius: 25px;
  width: 30%;
  padding: 20px;
}

.contact_us h1 {
    font-size: 50px;
    font-weight: bold;
   color:orange;
  text-transform: uppercase;
}


.link{
    display: flex;
    align-items: center;
  flex-direction: column;
  color:white;
}
