
<div class="title"><h1>OUR breads</h1></div>
<div class="our_breads">
            <div class="container_1">
                  <div class="breads_1">
                     <!--  -->
                    <div class="image">
                     <img src="../../../assets/bread1.jpg">
                    </div>
                     <h1>White Bread</h1>
                     <p>Sample text. Click to select the text box. Click again or double click to start editing the text.</p>
                     <button> <a href="">More</a></button>
                   </div>
                  <div class="breads_2">
                  <!--  -->
                  <div class="image">
                    <img src="../../../assets/bread2.jpg">
                  </div>
                  <h1>White Bread</h1>
                  <p>Sample text. Click to select the text box. Click again or double click to start editing the text.</p>
                  <button> <a href="">More</a></button>
                </div>
                  <div class="breads_3">
                    <!--  -->
                    <div class="image">
                      <img src="../../../assets/bread3.jpg">
                    </div>
                    <h1>White Bread</h1>
                    <p>Sample text. Click to select the text box. Click again or double click to start editing the text.</p>
                    <button> <a href="">More</a></button>
                  </div>
                  <div class="breads_4">
                    <!--  -->
                    <div class="image">
                      <img src="../../../assets/bread4.jpg">
                    </div>
                    <h1>White Bread</h1>
                    <p>Sample text. Click to select the text box. Click again or double click to start editing the text.</p>
                    <button> <a href="">More</a></button>
                  </div>
            </div>

            <div class="container_2">
                  <div class="breads_5">
                    <!--  -->
                    <div class="image">
                      <img src="../../../assets/bread5.jpg">
                    </div>
                    <h1>White Bread</h1>
                    <p>Sample text. Click to select the text box. Click again or double click to start editing the text.</p>
                    <button> <a href="">More</a></button>
                  </div>
                  <div class="breads_6">
                    <!--  -->
                    <div class="image">
                      <img src="../../../assets/bread6.jpg">
                    </div>
                    <h1>White Bread</h1>
                    <p>Sample text. Click to select the text box. Click again or double click to start editing the text.</p>
                    <button> <a href="">More</a></button>
                  </div>
                  <div class="breads_7">
                    <!--  -->
                    <div class="image">
                      <img src="../../../assets/bread7.jpg">
                    </div>
                    <h1>White Bread</h1>
                    <p>Sample text. Click to select the text box. Click again or double click to start editing the text.</p>
                    <button> <a href="">More</a></button>
                  </div>
                  <div class="breads_8">
                    <!--  -->
                    <div class="image">
                      <img src="../../../assets/bread8.jpg">
                    </div>
                    <h1>White Bread</h1>
                    <p>Sample text. Click to select the text box. Click again or double click to start editing the text.</p>
                    <button> <a href="">More</a></button>
                  </div>
            </div>

            <div class="container_3">
                <div class="container_3_1">
                  <h1>Delicious Baking. Exceptional Quality.</h1>
                  <img src="assets/person.jpg" alt="">
                </div>
                <div class="container_3_2">
                  <img src="assets/bread3.jpg" alt="">
                </div>
            </div>

            <div class="produce">
              <h1>W​e produce delicious bread, rolls and other products</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation  nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              <button><a href="">Learn more</a></button>
            </div>
</div>
  <div class="sweet_menu">
        <img src="assets/bread2.jpg" alt="">
        <div class="menu">
          <div class="menu_1">
           <h2>Cookies</h2>
            <ol>
              <li>Biscotti</li>
              <li>Biscotti</li>
              <li>Biscotti</li>
              <li>Biscotti</li>
            </ol>
          </div>
          <div class="menu_2">
            <h2>Scones</h2>
            <ol>
              <li>Biscotti</li>
              <li>Biscotti</li>
              <li>Biscotti</li>
              <li>Biscotti</li>
            </ol>
          </div>
          <div class="menu_3">
            <h2>Other</h2>
            <ol>
              <li>Biscotti</li>
              <li>Biscotti</li>
              <li>Biscotti</li>
              <li>Biscotti</li>
            </ol>
          </div>
        </div>
  </div>




