<div class="baking_title">
  <h1>Delicious Baking</h1>
</div>
<div class="baking">
  <div class="baking_1">
    <div class="baked_fresh_daily">
      <div class="baked_fresh_daily_1">
        <img src="assets/icon1.png" alt="">
        <div>
          <h1>Baked Fresh Daily</h1>
          <p>Our bread is baked fresh daily, contains no preservatives and is very high in quality. It is also especially nice and soft</p>
        </div>
        </div>
      </div>
    <div class="institutions">
      <div class="institutions_1">
        <img src="assets/icon2.png" alt="">
        <div>
          <h1>Baked Fresh Daily</h1>
          <p>Our bread is baked fresh daily, contains no preservatives and is very high in quality. It is also especially nice and soft</p>
        </div>
        </div>
    </div>
  </div>


  <!--   -->
  <div class="baking_2">
    <div class="great_value">
      <div class="great_value_1">
        <img src="assets/icon3.png" alt="">
        <div>
          <h1>Baked Fresh Daily</h1>
          <p>Our bread is baked fresh daily, contains no preservatives and is very high in quality. It is also especially nice and soft</p>
        </div>
        </div>
    </div>

    <div class="delivery_to_your_door">
      <div class="delivery_to_your_door_1">
        <img src="assets/icon4.png" alt="">
        <div>
          <h1>Baked Fresh Daily</h1>
          <p>Our bread is baked fresh daily, contains no preservatives and is very high in quality. It is also especially nice and soft</p>
        </div>
      </div>
    </div>
  </div>
  <div class="baking_3">
    <div class="great_value">
      <div class="great_value_1">
        <img src="assets/icon3.png" alt="">
        <div>
          <h1>Baked Fresh Daily</h1>
          <p>Our bread is baked fresh daily, contains no preservatives and is very high in quality. It is also especially nice and soft</p>
        </div>
      </div>
    </div>

    <div class="delivery_to_your_door">
      <div class="delivery_to_your_door_1">
        <img src="assets/icon4.png" alt="">
        <div>
          <h1>Baked Fresh Daily</h1>
          <p>Our bread is baked fresh daily, contains no preservatives and is very high in quality. It is also especially nice and soft</p>
        </div>
      </div>
    </div>
  </div>

</div>
<div class="read_more">
     <img src="assets/readmore.avif" alt="">
      <div class="read_more_text">
          <h1>Fresh breads, cakes and pasties</h1>
          <p>Nibh venenatis cras sed felis eget velit aliquet sagittis id. Tellus pellentesque eu tincidunt tortor aliquam nulla.</p>
          <button><a href="">Read more</a></button>
      </div>
</div>

