<header class="bg-white"></header>
  <nav class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8" aria-label="Global">

   <a href="">Contact</a>

  </nav>

  <div class="background">
    <img src="assets/background.jpg" >


    <div class="background_text">
      <h2>FAMILY BAKERY</h2>
      <h1>ORGANIC BREADS</h1>
      <h3>IMAGE FROM </h3>
    </div>

    <div class="find_us">
      <h1>FIND US</h1>
      <h4>121 Rock Sreet, 21 Avenue, New York, NY 92103-9000</h4>
    </div>

    <div class="hours">
      <h1>HOURS</h1>
      <b>Monday – Saturday</b>
      <p>9am – 7pm</p>
      <b>Sunday</b>
      <p>11am – 5pm</p>
    </div>

    <div class="call_us">
      <h1>CALL US</h1>
      <h4>1 62098282</h4>
      <h4>1 62098282</h4>
    </div>

  </div>

